
body{
	background-color:#AFAFAF;
}
footer{
	background-color:#AFAFAF;
}
header{
color:#fff;
border-style: solid;
border-color: #5A0000;
background-color: #5C2E00;
}

header h1{

}

ul.projects-list{
	margin:auto;
	width:inherit;
}

a{
	color:inherit;

}

a:hover{
	text-decoration: none;
	color:inherit;
}

li.project-item{

	margin-left:3px;
	
	border-color:#000;
	border-style:solid;

	height:365px;
	width:200px;
	background-color:#333333;
	color:#FFF;
}


.name{
	font-size:18px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.language{
	font-weight: bold;
	color: red;
}

.artwork img{
}