
body, html{
	height: 100;
	background-color:#000;
}

.email { 
	font-size: 10px;
}

.caption-border{
	padding-left:3px;
	width: 219px;
	height: 15px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
}

.caption {
	color:#33CC33;
	font-size: 12px;
}

.caption a{
	color: white;
}

h1 {
	margin-bottom: 1px;
}

header{
margin-top: 10px;
margin-bottom: 15px;
color:#fff;
border-style: solid;
border-color: #33CC33;
background-color: #000;
font-family: 'Orbitron', sans-serif;
}

header h1{

}

ul.projects-list{
	margin:auto;
	width:inherit;
}

a{
	color:inherit;
}
.modal-body iframe{
	width:100%;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.file-description{
	text-align: center;
	color: white;
	font-size: 13px;
}

li.project-item{
	text-align: center;
	margin-right: 10px;
	border-color:#000;
	border-style:solid;
	height:350px;
	width:200px;
	background-color:#000;
	color:#FFF;
	border-style: solid;
	border-color: #33CC33;
}

.right-bar{
	display: inline-block;
	position: fixed;
	right: 15px;
	z-index: 5;
	border-style:solid;
	padding-left:5px;
	padding-right:5px;
	background-color: #000;
	border-color: #33CC33;
	color: #33CC33;
}

.right-bar a{
	color: #33CC33;
}

.headerbox{
	float:right;
	border-style: none;

}

.name{
	color:#33CC33;
	font-size:14px;
	font-weight: bold;
	font-family: 'Black Ops One', sans-serif;
	text-transform: uppercase;
}

.language{
	font-weight: bold;
	font-family: 'audio wide';
	color:#BA0000;
}
.ruby-file{
background-color: #000000;
color:#33CC33;
}
.artwork img{
}


/* Modal CSS */

.modal-body, .modal-header, .modal-footer {
	background-color: #000;
	color: white;
	font-family: 'Orbitron';
	border-color: #33CC33;
}

.modal-content {
	background-color: #33CC33;
}

.modalBody {
	color: #33CC33;
}